* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container > div {
    border: 1px solid black;
    width: 25px;
    height: 25px;
}

.container > div:nth-child(16n+1) {
    width: 100%;
    border: 0;
    height: 0;
}